<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yonyou.scf.userFace.mapper.UserHMapper" >
  
  <!-- 客户名称获取 -->
  <select id="getUserNameList" resultType="java.util.Map" parameterType="map">
	select company_info.company_name as userName,company_info.user_id as userId
	from user_role,company_info
	where user_role.user_style = #{user_style_company,jdbcType=VARCHAR} 
	and user_role.user_id=company_info.user_id
	union all
	select user_info.user_name as userName,user_info.user_id as userId
	from user_role,user_info
	where user_role.user_style = #{user_style_person,jdbcType=VARCHAR} 
	and user_role.user_id=user_info.user_id
  </select>
</mapper>