<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yonyou.scf.common.mapper.auto.ContractTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.yonyou.scf.common.entity.ContractTemplate" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="contract_name" property="contractName" jdbcType="VARCHAR" />
    <result column="file_id" property="fileId" jdbcType="VARCHAR" />
    <result column="capital_id" property="capitalId" jdbcType="BIGINT" />
    <result column="fund_no" property="fundNo" jdbcType="VARCHAR" />
    <result column="placeholder_no" property="placeholderNo" jdbcType="VARCHAR" />
    <result column="special_signers" property="specialSigners" jdbcType="VARCHAR" />
    <result column="contract_type" property="contractType" jdbcType="VARCHAR" />
    <result column="is_special_company" property="isSpecialCompany" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="BIGINT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="VARCHAR" />
    <result column="cre_user_id" property="creUserId" jdbcType="BIGINT" />
    <result column="gmt_modified" property="gmtModified" jdbcType="VARCHAR" />
    <result column="mod_user_id" property="modUserId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, contract_name, file_id, capital_id, fund_no, placeholder_no, special_signers, 
    contract_type, is_special_company, company_id, gmt_create, cre_user_id, gmt_modified, 
    mod_user_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yonyou.scf.common.entity.ContractTemplateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from contract_template
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from contract_template
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from contract_template
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yonyou.scf.common.entity.ContractTemplateExample" >
    delete from contract_template
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yonyou.scf.common.entity.ContractTemplate" >
    insert into contract_template (id, contract_name, file_id, 
      capital_id, fund_no, placeholder_no, 
      special_signers, contract_type, is_special_company, 
      company_id, gmt_create, cre_user_id, 
      gmt_modified, mod_user_id)
    values (#{id,jdbcType=BIGINT}, #{contractName,jdbcType=VARCHAR}, #{fileId,jdbcType=VARCHAR}, 
      #{capitalId,jdbcType=BIGINT}, #{fundNo,jdbcType=VARCHAR}, #{placeholderNo,jdbcType=VARCHAR}, 
      #{specialSigners,jdbcType=VARCHAR}, #{contractType,jdbcType=VARCHAR}, #{isSpecialCompany,jdbcType=INTEGER}, 
      #{companyId,jdbcType=BIGINT}, #{gmtCreate,jdbcType=VARCHAR}, #{creUserId,jdbcType=BIGINT}, 
      #{gmtModified,jdbcType=VARCHAR}, #{modUserId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.yonyou.scf.common.entity.ContractTemplate" >
    insert into contract_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="contractName != null" >
        contract_name,
      </if>
      <if test="fileId != null" >
        file_id,
      </if>
      <if test="capitalId != null" >
        capital_id,
      </if>
      <if test="fundNo != null" >
        fund_no,
      </if>
      <if test="placeholderNo != null" >
        placeholder_no,
      </if>
      <if test="specialSigners != null" >
        special_signers,
      </if>
      <if test="contractType != null" >
        contract_type,
      </if>
      <if test="isSpecialCompany != null" >
        is_special_company,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="creUserId != null" >
        cre_user_id,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="modUserId != null" >
        mod_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="contractName != null" >
        #{contractName,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null" >
        #{fileId,jdbcType=VARCHAR},
      </if>
      <if test="capitalId != null" >
        #{capitalId,jdbcType=BIGINT},
      </if>
      <if test="fundNo != null" >
        #{fundNo,jdbcType=VARCHAR},
      </if>
      <if test="placeholderNo != null" >
        #{placeholderNo,jdbcType=VARCHAR},
      </if>
      <if test="specialSigners != null" >
        #{specialSigners,jdbcType=VARCHAR},
      </if>
      <if test="contractType != null" >
        #{contractType,jdbcType=VARCHAR},
      </if>
      <if test="isSpecialCompany != null" >
        #{isSpecialCompany,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=VARCHAR},
      </if>
      <if test="creUserId != null" >
        #{creUserId,jdbcType=BIGINT},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=VARCHAR},
      </if>
      <if test="modUserId != null" >
        #{modUserId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yonyou.scf.common.entity.ContractTemplateExample" resultType="java.lang.Integer" >
    select count(*) from contract_template
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update contract_template
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.contractName != null" >
        contract_name = #{record.contractName,jdbcType=VARCHAR},
      </if>
      <if test="record.fileId != null" >
        file_id = #{record.fileId,jdbcType=VARCHAR},
      </if>
      <if test="record.capitalId != null" >
        capital_id = #{record.capitalId,jdbcType=BIGINT},
      </if>
      <if test="record.fundNo != null" >
        fund_no = #{record.fundNo,jdbcType=VARCHAR},
      </if>
      <if test="record.placeholderNo != null" >
        placeholder_no = #{record.placeholderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.specialSigners != null" >
        special_signers = #{record.specialSigners,jdbcType=VARCHAR},
      </if>
      <if test="record.contractType != null" >
        contract_type = #{record.contractType,jdbcType=VARCHAR},
      </if>
      <if test="record.isSpecialCompany != null" >
        is_special_company = #{record.isSpecialCompany,jdbcType=INTEGER},
      </if>
      <if test="record.companyId != null" >
        company_id = #{record.companyId,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null" >
        gmt_create = #{record.gmtCreate,jdbcType=VARCHAR},
      </if>
      <if test="record.creUserId != null" >
        cre_user_id = #{record.creUserId,jdbcType=BIGINT},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=VARCHAR},
      </if>
      <if test="record.modUserId != null" >
        mod_user_id = #{record.modUserId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update contract_template
    set id = #{record.id,jdbcType=BIGINT},
      contract_name = #{record.contractName,jdbcType=VARCHAR},
      file_id = #{record.fileId,jdbcType=VARCHAR},
      capital_id = #{record.capitalId,jdbcType=BIGINT},
      fund_no = #{record.fundNo,jdbcType=VARCHAR},
      placeholder_no = #{record.placeholderNo,jdbcType=VARCHAR},
      special_signers = #{record.specialSigners,jdbcType=VARCHAR},
      contract_type = #{record.contractType,jdbcType=VARCHAR},
      is_special_company = #{record.isSpecialCompany,jdbcType=INTEGER},
      company_id = #{record.companyId,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=VARCHAR},
      cre_user_id = #{record.creUserId,jdbcType=BIGINT},
      gmt_modified = #{record.gmtModified,jdbcType=VARCHAR},
      mod_user_id = #{record.modUserId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yonyou.scf.common.entity.ContractTemplate" >
    update contract_template
    <set >
      <if test="contractName != null" >
        contract_name = #{contractName,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null" >
        file_id = #{fileId,jdbcType=VARCHAR},
      </if>
      <if test="capitalId != null" >
        capital_id = #{capitalId,jdbcType=BIGINT},
      </if>
      <if test="fundNo != null" >
        fund_no = #{fundNo,jdbcType=VARCHAR},
      </if>
      <if test="placeholderNo != null" >
        placeholder_no = #{placeholderNo,jdbcType=VARCHAR},
      </if>
      <if test="specialSigners != null" >
        special_signers = #{specialSigners,jdbcType=VARCHAR},
      </if>
      <if test="contractType != null" >
        contract_type = #{contractType,jdbcType=VARCHAR},
      </if>
      <if test="isSpecialCompany != null" >
        is_special_company = #{isSpecialCompany,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=VARCHAR},
      </if>
      <if test="creUserId != null" >
        cre_user_id = #{creUserId,jdbcType=BIGINT},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=VARCHAR},
      </if>
      <if test="modUserId != null" >
        mod_user_id = #{modUserId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yonyou.scf.common.entity.ContractTemplate" >
    update contract_template
    set contract_name = #{contractName,jdbcType=VARCHAR},
      file_id = #{fileId,jdbcType=VARCHAR},
      capital_id = #{capitalId,jdbcType=BIGINT},
      fund_no = #{fundNo,jdbcType=VARCHAR},
      placeholder_no = #{placeholderNo,jdbcType=VARCHAR},
      special_signers = #{specialSigners,jdbcType=VARCHAR},
      contract_type = #{contractType,jdbcType=VARCHAR},
      is_special_company = #{isSpecialCompany,jdbcType=INTEGER},
      company_id = #{companyId,jdbcType=BIGINT},
      gmt_create = #{gmtCreate,jdbcType=VARCHAR},
      cre_user_id = #{creUserId,jdbcType=BIGINT},
      gmt_modified = #{gmtModified,jdbcType=VARCHAR},
      mod_user_id = #{modUserId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>