<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yonyou.scf.common.mapper.auto.F617Mapper" >
  <resultMap id="BaseResultMap" type="com.yonyou.scf.common.entity.F617" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="busi_num" property="busiNum" jdbcType="CHAR" />
    <result column="busi_serial_num" property="busiSerialNum" jdbcType="CHAR" />
    <result column="order_num" property="orderNum" jdbcType="CHAR" />
    <result column="from_account_name" property="fromAccountName" jdbcType="CHAR" />
    <result column="amount" property="amount" jdbcType="BIGINT" />
    <result column="fee" property="fee" jdbcType="BIGINT" />
    <result column="to_account_name" property="toAccountName" jdbcType="CHAR" />
    <result column="other_fee" property="otherFee" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="from_bail" property="fromBail" jdbcType="BIGINT" />
    <result column="to_bail" property="toBail" jdbcType="BIGINT" />
    <result column="fcs_serial_num" property="fcsSerialNum" jdbcType="CHAR" />
    <result column="result_code" property="resultCode" jdbcType="CHAR" />
    <result column="ptcwdh" property="ptcwdh" jdbcType="VARCHAR" />
    <result column="cuowxx" property="cuowxx" jdbcType="VARCHAR" />
    <result column="role_type" property="roleType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, busi_num, busi_serial_num, order_num, from_account_name, amount, fee, to_account_name, 
    other_fee, type, from_bail, to_bail, fcs_serial_num, result_code, ptcwdh, cuowxx, 
    role_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yonyou.scf.common.entity.F617Example" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from f617
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from f617
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from f617
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yonyou.scf.common.entity.F617Example" >
    delete from f617
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yonyou.scf.common.entity.F617" >
    insert into f617 (id, busi_num, busi_serial_num, 
      order_num, from_account_name, amount, 
      fee, to_account_name, other_fee, 
      type, from_bail, to_bail, 
      fcs_serial_num, result_code, ptcwdh, 
      cuowxx, role_type)
    values (#{id,jdbcType=BIGINT}, #{busiNum,jdbcType=CHAR}, #{busiSerialNum,jdbcType=CHAR}, 
      #{orderNum,jdbcType=CHAR}, #{fromAccountName,jdbcType=CHAR}, #{amount,jdbcType=BIGINT}, 
      #{fee,jdbcType=BIGINT}, #{toAccountName,jdbcType=CHAR}, #{otherFee,jdbcType=BIGINT}, 
      #{type,jdbcType=CHAR}, #{fromBail,jdbcType=BIGINT}, #{toBail,jdbcType=BIGINT}, 
      #{fcsSerialNum,jdbcType=CHAR}, #{resultCode,jdbcType=CHAR}, #{ptcwdh,jdbcType=VARCHAR}, 
      #{cuowxx,jdbcType=VARCHAR}, #{roleType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yonyou.scf.common.entity.F617" >
    insert into f617
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="busiNum != null" >
        busi_num,
      </if>
      <if test="busiSerialNum != null" >
        busi_serial_num,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="fromAccountName != null" >
        from_account_name,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="fee != null" >
        fee,
      </if>
      <if test="toAccountName != null" >
        to_account_name,
      </if>
      <if test="otherFee != null" >
        other_fee,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="fromBail != null" >
        from_bail,
      </if>
      <if test="toBail != null" >
        to_bail,
      </if>
      <if test="fcsSerialNum != null" >
        fcs_serial_num,
      </if>
      <if test="resultCode != null" >
        result_code,
      </if>
      <if test="ptcwdh != null" >
        ptcwdh,
      </if>
      <if test="cuowxx != null" >
        cuowxx,
      </if>
      <if test="roleType != null" >
        role_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="busiNum != null" >
        #{busiNum,jdbcType=CHAR},
      </if>
      <if test="busiSerialNum != null" >
        #{busiSerialNum,jdbcType=CHAR},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=CHAR},
      </if>
      <if test="fromAccountName != null" >
        #{fromAccountName,jdbcType=CHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=BIGINT},
      </if>
      <if test="fee != null" >
        #{fee,jdbcType=BIGINT},
      </if>
      <if test="toAccountName != null" >
        #{toAccountName,jdbcType=CHAR},
      </if>
      <if test="otherFee != null" >
        #{otherFee,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="fromBail != null" >
        #{fromBail,jdbcType=BIGINT},
      </if>
      <if test="toBail != null" >
        #{toBail,jdbcType=BIGINT},
      </if>
      <if test="fcsSerialNum != null" >
        #{fcsSerialNum,jdbcType=CHAR},
      </if>
      <if test="resultCode != null" >
        #{resultCode,jdbcType=CHAR},
      </if>
      <if test="ptcwdh != null" >
        #{ptcwdh,jdbcType=VARCHAR},
      </if>
      <if test="cuowxx != null" >
        #{cuowxx,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null" >
        #{roleType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yonyou.scf.common.entity.F617Example" resultType="java.lang.Integer" >
    select count(*) from f617
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update f617
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.busiNum != null" >
        busi_num = #{record.busiNum,jdbcType=CHAR},
      </if>
      <if test="record.busiSerialNum != null" >
        busi_serial_num = #{record.busiSerialNum,jdbcType=CHAR},
      </if>
      <if test="record.orderNum != null" >
        order_num = #{record.orderNum,jdbcType=CHAR},
      </if>
      <if test="record.fromAccountName != null" >
        from_account_name = #{record.fromAccountName,jdbcType=CHAR},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=BIGINT},
      </if>
      <if test="record.fee != null" >
        fee = #{record.fee,jdbcType=BIGINT},
      </if>
      <if test="record.toAccountName != null" >
        to_account_name = #{record.toAccountName,jdbcType=CHAR},
      </if>
      <if test="record.otherFee != null" >
        other_fee = #{record.otherFee,jdbcType=BIGINT},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=CHAR},
      </if>
      <if test="record.fromBail != null" >
        from_bail = #{record.fromBail,jdbcType=BIGINT},
      </if>
      <if test="record.toBail != null" >
        to_bail = #{record.toBail,jdbcType=BIGINT},
      </if>
      <if test="record.fcsSerialNum != null" >
        fcs_serial_num = #{record.fcsSerialNum,jdbcType=CHAR},
      </if>
      <if test="record.resultCode != null" >
        result_code = #{record.resultCode,jdbcType=CHAR},
      </if>
      <if test="record.ptcwdh != null" >
        ptcwdh = #{record.ptcwdh,jdbcType=VARCHAR},
      </if>
      <if test="record.cuowxx != null" >
        cuowxx = #{record.cuowxx,jdbcType=VARCHAR},
      </if>
      <if test="record.roleType != null" >
        role_type = #{record.roleType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update f617
    set id = #{record.id,jdbcType=BIGINT},
      busi_num = #{record.busiNum,jdbcType=CHAR},
      busi_serial_num = #{record.busiSerialNum,jdbcType=CHAR},
      order_num = #{record.orderNum,jdbcType=CHAR},
      from_account_name = #{record.fromAccountName,jdbcType=CHAR},
      amount = #{record.amount,jdbcType=BIGINT},
      fee = #{record.fee,jdbcType=BIGINT},
      to_account_name = #{record.toAccountName,jdbcType=CHAR},
      other_fee = #{record.otherFee,jdbcType=BIGINT},
      type = #{record.type,jdbcType=CHAR},
      from_bail = #{record.fromBail,jdbcType=BIGINT},
      to_bail = #{record.toBail,jdbcType=BIGINT},
      fcs_serial_num = #{record.fcsSerialNum,jdbcType=CHAR},
      result_code = #{record.resultCode,jdbcType=CHAR},
      ptcwdh = #{record.ptcwdh,jdbcType=VARCHAR},
      cuowxx = #{record.cuowxx,jdbcType=VARCHAR},
      role_type = #{record.roleType,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yonyou.scf.common.entity.F617" >
    update f617
    <set >
      <if test="busiNum != null" >
        busi_num = #{busiNum,jdbcType=CHAR},
      </if>
      <if test="busiSerialNum != null" >
        busi_serial_num = #{busiSerialNum,jdbcType=CHAR},
      </if>
      <if test="orderNum != null" >
        order_num = #{orderNum,jdbcType=CHAR},
      </if>
      <if test="fromAccountName != null" >
        from_account_name = #{fromAccountName,jdbcType=CHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=BIGINT},
      </if>
      <if test="fee != null" >
        fee = #{fee,jdbcType=BIGINT},
      </if>
      <if test="toAccountName != null" >
        to_account_name = #{toAccountName,jdbcType=CHAR},
      </if>
      <if test="otherFee != null" >
        other_fee = #{otherFee,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="fromBail != null" >
        from_bail = #{fromBail,jdbcType=BIGINT},
      </if>
      <if test="toBail != null" >
        to_bail = #{toBail,jdbcType=BIGINT},
      </if>
      <if test="fcsSerialNum != null" >
        fcs_serial_num = #{fcsSerialNum,jdbcType=CHAR},
      </if>
      <if test="resultCode != null" >
        result_code = #{resultCode,jdbcType=CHAR},
      </if>
      <if test="ptcwdh != null" >
        ptcwdh = #{ptcwdh,jdbcType=VARCHAR},
      </if>
      <if test="cuowxx != null" >
        cuowxx = #{cuowxx,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null" >
        role_type = #{roleType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yonyou.scf.common.entity.F617" >
    update f617
    set busi_num = #{busiNum,jdbcType=CHAR},
      busi_serial_num = #{busiSerialNum,jdbcType=CHAR},
      order_num = #{orderNum,jdbcType=CHAR},
      from_account_name = #{fromAccountName,jdbcType=CHAR},
      amount = #{amount,jdbcType=BIGINT},
      fee = #{fee,jdbcType=BIGINT},
      to_account_name = #{toAccountName,jdbcType=CHAR},
      other_fee = #{otherFee,jdbcType=BIGINT},
      type = #{type,jdbcType=CHAR},
      from_bail = #{fromBail,jdbcType=BIGINT},
      to_bail = #{toBail,jdbcType=BIGINT},
      fcs_serial_num = #{fcsSerialNum,jdbcType=CHAR},
      result_code = #{resultCode,jdbcType=CHAR},
      ptcwdh = #{ptcwdh,jdbcType=VARCHAR},
      cuowxx = #{cuowxx,jdbcType=VARCHAR},
      role_type = #{roleType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>