<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yonyou.scf.common.mapper.auto.FddFileUploadMapper" >
  <resultMap id="BaseResultMap" type="com.yonyou.scf.common.entity.FddFileUpload" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="contract_id" property="contractId" jdbcType="VARCHAR" />
    <result column="doc_title" property="docTitle" jdbcType="VARCHAR" />
    <result column="file_pathname" property="filePathname" jdbcType="VARCHAR" />
    <result column="doc_url" property="docUrl" jdbcType="VARCHAR" />
    <result column="doc_type" property="docType" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="sign_succes_cnt" property="signSuccesCnt" jdbcType="SMALLINT" />
    <result column="lastest_sync_time" property="lastestSyncTime" jdbcType="VARCHAR" />
    <result column="fdd_result" property="fddResult" jdbcType="VARCHAR" />
    <result column="fdd_code" property="fddCode" jdbcType="VARCHAR" />
    <result column="fdd_msg" property="fddMsg" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, contract_id, doc_title, file_pathname, doc_url, doc_type, status, sign_succes_cnt, 
    lastest_sync_time, fdd_result, fdd_code, fdd_msg, create_time, create_user, update_time, 
    update_user
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yonyou.scf.common.entity.FddFileUploadExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from fdd_file_upload
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from fdd_file_upload
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from fdd_file_upload
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yonyou.scf.common.entity.FddFileUploadExample" >
    delete from fdd_file_upload
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yonyou.scf.common.entity.FddFileUpload" >
    insert into fdd_file_upload (id, contract_id, doc_title, 
      file_pathname, doc_url, doc_type, 
      status, sign_succes_cnt, lastest_sync_time, 
      fdd_result, fdd_code, fdd_msg, 
      create_time, create_user, update_time, 
      update_user)
    values (#{id,jdbcType=BIGINT}, #{contractId,jdbcType=VARCHAR}, #{docTitle,jdbcType=VARCHAR}, 
      #{filePathname,jdbcType=VARCHAR}, #{docUrl,jdbcType=VARCHAR}, #{docType,jdbcType=VARCHAR}, 
      #{status,jdbcType=SMALLINT}, #{signSuccesCnt,jdbcType=SMALLINT}, #{lastestSyncTime,jdbcType=VARCHAR}, 
      #{fddResult,jdbcType=VARCHAR}, #{fddCode,jdbcType=VARCHAR}, #{fddMsg,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUser,jdbcType=BIGINT}, #{updateTime,jdbcType=VARCHAR}, 
      #{updateUser,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.yonyou.scf.common.entity.FddFileUpload" >
    insert into fdd_file_upload
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="contractId != null" >
        contract_id,
      </if>
      <if test="docTitle != null" >
        doc_title,
      </if>
      <if test="filePathname != null" >
        file_pathname,
      </if>
      <if test="docUrl != null" >
        doc_url,
      </if>
      <if test="docType != null" >
        doc_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="signSuccesCnt != null" >
        sign_succes_cnt,
      </if>
      <if test="lastestSyncTime != null" >
        lastest_sync_time,
      </if>
      <if test="fddResult != null" >
        fdd_result,
      </if>
      <if test="fddCode != null" >
        fdd_code,
      </if>
      <if test="fddMsg != null" >
        fdd_msg,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="contractId != null" >
        #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="docTitle != null" >
        #{docTitle,jdbcType=VARCHAR},
      </if>
      <if test="filePathname != null" >
        #{filePathname,jdbcType=VARCHAR},
      </if>
      <if test="docUrl != null" >
        #{docUrl,jdbcType=VARCHAR},
      </if>
      <if test="docType != null" >
        #{docType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="signSuccesCnt != null" >
        #{signSuccesCnt,jdbcType=SMALLINT},
      </if>
      <if test="lastestSyncTime != null" >
        #{lastestSyncTime,jdbcType=VARCHAR},
      </if>
      <if test="fddResult != null" >
        #{fddResult,jdbcType=VARCHAR},
      </if>
      <if test="fddCode != null" >
        #{fddCode,jdbcType=VARCHAR},
      </if>
      <if test="fddMsg != null" >
        #{fddMsg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yonyou.scf.common.entity.FddFileUploadExample" resultType="java.lang.Integer" >
    select count(*) from fdd_file_upload
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update fdd_file_upload
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.contractId != null" >
        contract_id = #{record.contractId,jdbcType=VARCHAR},
      </if>
      <if test="record.docTitle != null" >
        doc_title = #{record.docTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.filePathname != null" >
        file_pathname = #{record.filePathname,jdbcType=VARCHAR},
      </if>
      <if test="record.docUrl != null" >
        doc_url = #{record.docUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.docType != null" >
        doc_type = #{record.docType,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=SMALLINT},
      </if>
      <if test="record.signSuccesCnt != null" >
        sign_succes_cnt = #{record.signSuccesCnt,jdbcType=SMALLINT},
      </if>
      <if test="record.lastestSyncTime != null" >
        lastest_sync_time = #{record.lastestSyncTime,jdbcType=VARCHAR},
      </if>
      <if test="record.fddResult != null" >
        fdd_result = #{record.fddResult,jdbcType=VARCHAR},
      </if>
      <if test="record.fddCode != null" >
        fdd_code = #{record.fddCode,jdbcType=VARCHAR},
      </if>
      <if test="record.fddMsg != null" >
        fdd_msg = #{record.fddMsg,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null" >
        create_user = #{record.createUser,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null" >
        update_user = #{record.updateUser,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update fdd_file_upload
    set id = #{record.id,jdbcType=BIGINT},
      contract_id = #{record.contractId,jdbcType=VARCHAR},
      doc_title = #{record.docTitle,jdbcType=VARCHAR},
      file_pathname = #{record.filePathname,jdbcType=VARCHAR},
      doc_url = #{record.docUrl,jdbcType=VARCHAR},
      doc_type = #{record.docType,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=SMALLINT},
      sign_succes_cnt = #{record.signSuccesCnt,jdbcType=SMALLINT},
      lastest_sync_time = #{record.lastestSyncTime,jdbcType=VARCHAR},
      fdd_result = #{record.fddResult,jdbcType=VARCHAR},
      fdd_code = #{record.fddCode,jdbcType=VARCHAR},
      fdd_msg = #{record.fddMsg,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=VARCHAR},
      update_user = #{record.updateUser,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yonyou.scf.common.entity.FddFileUpload" >
    update fdd_file_upload
    <set >
      <if test="contractId != null" >
        contract_id = #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="docTitle != null" >
        doc_title = #{docTitle,jdbcType=VARCHAR},
      </if>
      <if test="filePathname != null" >
        file_pathname = #{filePathname,jdbcType=VARCHAR},
      </if>
      <if test="docUrl != null" >
        doc_url = #{docUrl,jdbcType=VARCHAR},
      </if>
      <if test="docType != null" >
        doc_type = #{docType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="signSuccesCnt != null" >
        sign_succes_cnt = #{signSuccesCnt,jdbcType=SMALLINT},
      </if>
      <if test="lastestSyncTime != null" >
        lastest_sync_time = #{lastestSyncTime,jdbcType=VARCHAR},
      </if>
      <if test="fddResult != null" >
        fdd_result = #{fddResult,jdbcType=VARCHAR},
      </if>
      <if test="fddCode != null" >
        fdd_code = #{fddCode,jdbcType=VARCHAR},
      </if>
      <if test="fddMsg != null" >
        fdd_msg = #{fddMsg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yonyou.scf.common.entity.FddFileUpload" >
    update fdd_file_upload
    set contract_id = #{contractId,jdbcType=VARCHAR},
      doc_title = #{docTitle,jdbcType=VARCHAR},
      file_pathname = #{filePathname,jdbcType=VARCHAR},
      doc_url = #{docUrl,jdbcType=VARCHAR},
      doc_type = #{docType,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      sign_succes_cnt = #{signSuccesCnt,jdbcType=SMALLINT},
      lastest_sync_time = #{lastestSyncTime,jdbcType=VARCHAR},
      fdd_result = #{fddResult,jdbcType=VARCHAR},
      fdd_code = #{fddCode,jdbcType=VARCHAR},
      fdd_msg = #{fddMsg,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>