<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yonyou.scf.common.mapper.auto.InvoiceBillingDetailMapper" >
  <resultMap id="BaseResultMap" type="com.yonyou.scf.common.entity.InvoiceBillingDetail" >
    <id column="ibd_id" property="ibdId" jdbcType="BIGINT" />
    <result column="ib_id" property="ibId" jdbcType="BIGINT" />
    <result column="principal" property="principal" jdbcType="BIGINT" />
    <result column="principal_already" property="principalAlready" jdbcType="BIGINT" />
    <result column="interest" property="interest" jdbcType="BIGINT" />
    <result column="service_charge" property="serviceCharge" jdbcType="BIGINT" />
    <result column="rollover_interest" property="rolloverInterest" jdbcType="BIGINT" />
    <result column="extension_service_fee" property="extensionServiceFee" jdbcType="BIGINT" />
    <result column="overdue_interest" property="overdueInterest" jdbcType="BIGINT" />
    <result column="overdue_service_fee" property="overdueServiceFee" jdbcType="BIGINT" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="effective" property="effective" jdbcType="VARCHAR" />
    <result column="pre_repay_fee" property="preRepayFee" jdbcType="BIGINT" />
    <result column="pre_repay_fee_already" property="preRepayFeeAlready" jdbcType="BIGINT" />
    <result column="extension_fee" property="extensionFee" jdbcType="BIGINT" />
    <result column="extension_fee_already" property="extensionFeeAlready" jdbcType="BIGINT" />
    <result column="other_fee" property="otherFee" jdbcType="BIGINT" />
    <result column="other_fee_already" property="otherFeeAlready" jdbcType="BIGINT" />
    <result column="balance" property="balance" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ibd_id, ib_id, principal, principal_already, interest, service_charge, rollover_interest, 
    extension_service_fee, overdue_interest, overdue_service_fee, currency, create_id, 
    create_time, effective, pre_repay_fee, pre_repay_fee_already, extension_fee, extension_fee_already, 
    other_fee, other_fee_already, balance
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yonyou.scf.common.entity.InvoiceBillingDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from invoice_billing_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from invoice_billing_detail
    where ibd_id = #{ibdId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from invoice_billing_detail
    where ibd_id = #{ibdId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yonyou.scf.common.entity.InvoiceBillingDetailExample" >
    delete from invoice_billing_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yonyou.scf.common.entity.InvoiceBillingDetail" >
    insert into invoice_billing_detail (ibd_id, ib_id, principal, 
      principal_already, interest, service_charge, 
      rollover_interest, extension_service_fee, overdue_interest, 
      overdue_service_fee, currency, create_id, 
      create_time, effective, pre_repay_fee, 
      pre_repay_fee_already, extension_fee, extension_fee_already, 
      other_fee, other_fee_already, balance
      )
    values (#{ibdId,jdbcType=BIGINT}, #{ibId,jdbcType=BIGINT}, #{principal,jdbcType=BIGINT}, 
      #{principalAlready,jdbcType=BIGINT}, #{interest,jdbcType=BIGINT}, #{serviceCharge,jdbcType=BIGINT}, 
      #{rolloverInterest,jdbcType=BIGINT}, #{extensionServiceFee,jdbcType=BIGINT}, #{overdueInterest,jdbcType=BIGINT}, 
      #{overdueServiceFee,jdbcType=BIGINT}, #{currency,jdbcType=VARCHAR}, #{createId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=VARCHAR}, #{effective,jdbcType=VARCHAR}, #{preRepayFee,jdbcType=BIGINT}, 
      #{preRepayFeeAlready,jdbcType=BIGINT}, #{extensionFee,jdbcType=BIGINT}, #{extensionFeeAlready,jdbcType=BIGINT}, 
      #{otherFee,jdbcType=BIGINT}, #{otherFeeAlready,jdbcType=BIGINT}, #{balance,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yonyou.scf.common.entity.InvoiceBillingDetail" >
    insert into invoice_billing_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ibdId != null" >
        ibd_id,
      </if>
      <if test="ibId != null" >
        ib_id,
      </if>
      <if test="principal != null" >
        principal,
      </if>
      <if test="principalAlready != null" >
        principal_already,
      </if>
      <if test="interest != null" >
        interest,
      </if>
      <if test="serviceCharge != null" >
        service_charge,
      </if>
      <if test="rolloverInterest != null" >
        rollover_interest,
      </if>
      <if test="extensionServiceFee != null" >
        extension_service_fee,
      </if>
      <if test="overdueInterest != null" >
        overdue_interest,
      </if>
      <if test="overdueServiceFee != null" >
        overdue_service_fee,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="effective != null" >
        effective,
      </if>
      <if test="preRepayFee != null" >
        pre_repay_fee,
      </if>
      <if test="preRepayFeeAlready != null" >
        pre_repay_fee_already,
      </if>
      <if test="extensionFee != null" >
        extension_fee,
      </if>
      <if test="extensionFeeAlready != null" >
        extension_fee_already,
      </if>
      <if test="otherFee != null" >
        other_fee,
      </if>
      <if test="otherFeeAlready != null" >
        other_fee_already,
      </if>
      <if test="balance != null" >
        balance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ibdId != null" >
        #{ibdId,jdbcType=BIGINT},
      </if>
      <if test="ibId != null" >
        #{ibId,jdbcType=BIGINT},
      </if>
      <if test="principal != null" >
        #{principal,jdbcType=BIGINT},
      </if>
      <if test="principalAlready != null" >
        #{principalAlready,jdbcType=BIGINT},
      </if>
      <if test="interest != null" >
        #{interest,jdbcType=BIGINT},
      </if>
      <if test="serviceCharge != null" >
        #{serviceCharge,jdbcType=BIGINT},
      </if>
      <if test="rolloverInterest != null" >
        #{rolloverInterest,jdbcType=BIGINT},
      </if>
      <if test="extensionServiceFee != null" >
        #{extensionServiceFee,jdbcType=BIGINT},
      </if>
      <if test="overdueInterest != null" >
        #{overdueInterest,jdbcType=BIGINT},
      </if>
      <if test="overdueServiceFee != null" >
        #{overdueServiceFee,jdbcType=BIGINT},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="effective != null" >
        #{effective,jdbcType=VARCHAR},
      </if>
      <if test="preRepayFee != null" >
        #{preRepayFee,jdbcType=BIGINT},
      </if>
      <if test="preRepayFeeAlready != null" >
        #{preRepayFeeAlready,jdbcType=BIGINT},
      </if>
      <if test="extensionFee != null" >
        #{extensionFee,jdbcType=BIGINT},
      </if>
      <if test="extensionFeeAlready != null" >
        #{extensionFeeAlready,jdbcType=BIGINT},
      </if>
      <if test="otherFee != null" >
        #{otherFee,jdbcType=BIGINT},
      </if>
      <if test="otherFeeAlready != null" >
        #{otherFeeAlready,jdbcType=BIGINT},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yonyou.scf.common.entity.InvoiceBillingDetailExample" resultType="java.lang.Integer" >
    select count(*) from invoice_billing_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update invoice_billing_detail
    <set >
      <if test="record.ibdId != null" >
        ibd_id = #{record.ibdId,jdbcType=BIGINT},
      </if>
      <if test="record.ibId != null" >
        ib_id = #{record.ibId,jdbcType=BIGINT},
      </if>
      <if test="record.principal != null" >
        principal = #{record.principal,jdbcType=BIGINT},
      </if>
      <if test="record.principalAlready != null" >
        principal_already = #{record.principalAlready,jdbcType=BIGINT},
      </if>
      <if test="record.interest != null" >
        interest = #{record.interest,jdbcType=BIGINT},
      </if>
      <if test="record.serviceCharge != null" >
        service_charge = #{record.serviceCharge,jdbcType=BIGINT},
      </if>
      <if test="record.rolloverInterest != null" >
        rollover_interest = #{record.rolloverInterest,jdbcType=BIGINT},
      </if>
      <if test="record.extensionServiceFee != null" >
        extension_service_fee = #{record.extensionServiceFee,jdbcType=BIGINT},
      </if>
      <if test="record.overdueInterest != null" >
        overdue_interest = #{record.overdueInterest,jdbcType=BIGINT},
      </if>
      <if test="record.overdueServiceFee != null" >
        overdue_service_fee = #{record.overdueServiceFee,jdbcType=BIGINT},
      </if>
      <if test="record.currency != null" >
        currency = #{record.currency,jdbcType=VARCHAR},
      </if>
      <if test="record.createId != null" >
        create_id = #{record.createId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.effective != null" >
        effective = #{record.effective,jdbcType=VARCHAR},
      </if>
      <if test="record.preRepayFee != null" >
        pre_repay_fee = #{record.preRepayFee,jdbcType=BIGINT},
      </if>
      <if test="record.preRepayFeeAlready != null" >
        pre_repay_fee_already = #{record.preRepayFeeAlready,jdbcType=BIGINT},
      </if>
      <if test="record.extensionFee != null" >
        extension_fee = #{record.extensionFee,jdbcType=BIGINT},
      </if>
      <if test="record.extensionFeeAlready != null" >
        extension_fee_already = #{record.extensionFeeAlready,jdbcType=BIGINT},
      </if>
      <if test="record.otherFee != null" >
        other_fee = #{record.otherFee,jdbcType=BIGINT},
      </if>
      <if test="record.otherFeeAlready != null" >
        other_fee_already = #{record.otherFeeAlready,jdbcType=BIGINT},
      </if>
      <if test="record.balance != null" >
        balance = #{record.balance,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update invoice_billing_detail
    set ibd_id = #{record.ibdId,jdbcType=BIGINT},
      ib_id = #{record.ibId,jdbcType=BIGINT},
      principal = #{record.principal,jdbcType=BIGINT},
      principal_already = #{record.principalAlready,jdbcType=BIGINT},
      interest = #{record.interest,jdbcType=BIGINT},
      service_charge = #{record.serviceCharge,jdbcType=BIGINT},
      rollover_interest = #{record.rolloverInterest,jdbcType=BIGINT},
      extension_service_fee = #{record.extensionServiceFee,jdbcType=BIGINT},
      overdue_interest = #{record.overdueInterest,jdbcType=BIGINT},
      overdue_service_fee = #{record.overdueServiceFee,jdbcType=BIGINT},
      currency = #{record.currency,jdbcType=VARCHAR},
      create_id = #{record.createId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=VARCHAR},
      effective = #{record.effective,jdbcType=VARCHAR},
      pre_repay_fee = #{record.preRepayFee,jdbcType=BIGINT},
      pre_repay_fee_already = #{record.preRepayFeeAlready,jdbcType=BIGINT},
      extension_fee = #{record.extensionFee,jdbcType=BIGINT},
      extension_fee_already = #{record.extensionFeeAlready,jdbcType=BIGINT},
      other_fee = #{record.otherFee,jdbcType=BIGINT},
      other_fee_already = #{record.otherFeeAlready,jdbcType=BIGINT},
      balance = #{record.balance,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yonyou.scf.common.entity.InvoiceBillingDetail" >
    update invoice_billing_detail
    <set >
      <if test="ibId != null" >
        ib_id = #{ibId,jdbcType=BIGINT},
      </if>
      <if test="principal != null" >
        principal = #{principal,jdbcType=BIGINT},
      </if>
      <if test="principalAlready != null" >
        principal_already = #{principalAlready,jdbcType=BIGINT},
      </if>
      <if test="interest != null" >
        interest = #{interest,jdbcType=BIGINT},
      </if>
      <if test="serviceCharge != null" >
        service_charge = #{serviceCharge,jdbcType=BIGINT},
      </if>
      <if test="rolloverInterest != null" >
        rollover_interest = #{rolloverInterest,jdbcType=BIGINT},
      </if>
      <if test="extensionServiceFee != null" >
        extension_service_fee = #{extensionServiceFee,jdbcType=BIGINT},
      </if>
      <if test="overdueInterest != null" >
        overdue_interest = #{overdueInterest,jdbcType=BIGINT},
      </if>
      <if test="overdueServiceFee != null" >
        overdue_service_fee = #{overdueServiceFee,jdbcType=BIGINT},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="effective != null" >
        effective = #{effective,jdbcType=VARCHAR},
      </if>
      <if test="preRepayFee != null" >
        pre_repay_fee = #{preRepayFee,jdbcType=BIGINT},
      </if>
      <if test="preRepayFeeAlready != null" >
        pre_repay_fee_already = #{preRepayFeeAlready,jdbcType=BIGINT},
      </if>
      <if test="extensionFee != null" >
        extension_fee = #{extensionFee,jdbcType=BIGINT},
      </if>
      <if test="extensionFeeAlready != null" >
        extension_fee_already = #{extensionFeeAlready,jdbcType=BIGINT},
      </if>
      <if test="otherFee != null" >
        other_fee = #{otherFee,jdbcType=BIGINT},
      </if>
      <if test="otherFeeAlready != null" >
        other_fee_already = #{otherFeeAlready,jdbcType=BIGINT},
      </if>
      <if test="balance != null" >
        balance = #{balance,jdbcType=BIGINT},
      </if>
    </set>
    where ibd_id = #{ibdId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yonyou.scf.common.entity.InvoiceBillingDetail" >
    update invoice_billing_detail
    set ib_id = #{ibId,jdbcType=BIGINT},
      principal = #{principal,jdbcType=BIGINT},
      principal_already = #{principalAlready,jdbcType=BIGINT},
      interest = #{interest,jdbcType=BIGINT},
      service_charge = #{serviceCharge,jdbcType=BIGINT},
      rollover_interest = #{rolloverInterest,jdbcType=BIGINT},
      extension_service_fee = #{extensionServiceFee,jdbcType=BIGINT},
      overdue_interest = #{overdueInterest,jdbcType=BIGINT},
      overdue_service_fee = #{overdueServiceFee,jdbcType=BIGINT},
      currency = #{currency,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=VARCHAR},
      effective = #{effective,jdbcType=VARCHAR},
      pre_repay_fee = #{preRepayFee,jdbcType=BIGINT},
      pre_repay_fee_already = #{preRepayFeeAlready,jdbcType=BIGINT},
      extension_fee = #{extensionFee,jdbcType=BIGINT},
      extension_fee_already = #{extensionFeeAlready,jdbcType=BIGINT},
      other_fee = #{otherFee,jdbcType=BIGINT},
      other_fee_already = #{otherFeeAlready,jdbcType=BIGINT},
      balance = #{balance,jdbcType=BIGINT}
    where ibd_id = #{ibdId,jdbcType=BIGINT}
  </update>
</mapper>