<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.scf.common.mapper.auto.PlatformLandingMapper">
  <resultMap id="BaseResultMap" type="com.yonyou.scf.common.entity.PlatformLanding">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="interface_no" jdbcType="VARCHAR" property="interfaceNo" />
    <result column="platform_id" jdbcType="VARCHAR" property="platformId" />
    <result column="fund_id" jdbcType="VARCHAR" property="fundId" />
    <result column="merchant_user_id" jdbcType="VARCHAR" property="merchantUserId" />
    <result column="user_role" jdbcType="INTEGER" property="userRole" />
    <result column="controller_type" jdbcType="INTEGER" property="controllerType" />
    <result column="login_current_ip" jdbcType="VARCHAR" property="loginCurrentIp" />
    <result column="login_current_address" jdbcType="VARCHAR" property="loginCurrentAddress" />
    <result column="login_current_time" jdbcType="VARCHAR" property="loginCurrentTime" />
    <result column="login_last_ip" jdbcType="VARCHAR" property="loginLastIp" />
    <result column="login_last_address" jdbcType="VARCHAR" property="loginLastAddress" />
    <result column="login_last_time" jdbcType="VARCHAR" property="loginLastTime" />
    <result column="login_num" jdbcType="INTEGER" property="loginNum" />
    <result column="login_limit_type" jdbcType="INTEGER" property="loginLimitType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, interface_no, platform_id, fund_id, merchant_user_id, user_role, controller_type, 
    login_current_ip, login_current_address, login_current_time, login_last_ip, login_last_address, 
    login_last_time, login_num, login_limit_type
  </sql>
  <select id="selectByExample" parameterType="com.yonyou.scf.common.entity.PlatformLandingExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from platform_landing
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from platform_landing
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from platform_landing
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yonyou.scf.common.entity.PlatformLandingExample">
    delete from platform_landing
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yonyou.scf.common.entity.PlatformLanding">
    insert into platform_landing (id, interface_no, platform_id, 
      fund_id, merchant_user_id, user_role, 
      controller_type, login_current_ip, login_current_address, 
      login_current_time, login_last_ip, login_last_address, 
      login_last_time, login_num, login_limit_type
      )
    values (#{id,jdbcType=BIGINT}, #{interfaceNo,jdbcType=VARCHAR}, #{platformId,jdbcType=VARCHAR}, 
      #{fundId,jdbcType=VARCHAR}, #{merchantUserId,jdbcType=VARCHAR}, #{userRole,jdbcType=INTEGER}, 
      #{controllerType,jdbcType=INTEGER}, #{loginCurrentIp,jdbcType=VARCHAR}, #{loginCurrentAddress,jdbcType=VARCHAR}, 
      #{loginCurrentTime,jdbcType=VARCHAR}, #{loginLastIp,jdbcType=VARCHAR}, #{loginLastAddress,jdbcType=VARCHAR}, 
      #{loginLastTime,jdbcType=VARCHAR}, #{loginNum,jdbcType=INTEGER}, #{loginLimitType,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yonyou.scf.common.entity.PlatformLanding">
    insert into platform_landing
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="interfaceNo != null">
        interface_no,
      </if>
      <if test="platformId != null">
        platform_id,
      </if>
      <if test="fundId != null">
        fund_id,
      </if>
      <if test="merchantUserId != null">
        merchant_user_id,
      </if>
      <if test="userRole != null">
        user_role,
      </if>
      <if test="controllerType != null">
        controller_type,
      </if>
      <if test="loginCurrentIp != null">
        login_current_ip,
      </if>
      <if test="loginCurrentAddress != null">
        login_current_address,
      </if>
      <if test="loginCurrentTime != null">
        login_current_time,
      </if>
      <if test="loginLastIp != null">
        login_last_ip,
      </if>
      <if test="loginLastAddress != null">
        login_last_address,
      </if>
      <if test="loginLastTime != null">
        login_last_time,
      </if>
      <if test="loginNum != null">
        login_num,
      </if>
      <if test="loginLimitType != null">
        login_limit_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="interfaceNo != null">
        #{interfaceNo,jdbcType=VARCHAR},
      </if>
      <if test="platformId != null">
        #{platformId,jdbcType=VARCHAR},
      </if>
      <if test="fundId != null">
        #{fundId,jdbcType=VARCHAR},
      </if>
      <if test="merchantUserId != null">
        #{merchantUserId,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null">
        #{userRole,jdbcType=INTEGER},
      </if>
      <if test="controllerType != null">
        #{controllerType,jdbcType=INTEGER},
      </if>
      <if test="loginCurrentIp != null">
        #{loginCurrentIp,jdbcType=VARCHAR},
      </if>
      <if test="loginCurrentAddress != null">
        #{loginCurrentAddress,jdbcType=VARCHAR},
      </if>
      <if test="loginCurrentTime != null">
        #{loginCurrentTime,jdbcType=VARCHAR},
      </if>
      <if test="loginLastIp != null">
        #{loginLastIp,jdbcType=VARCHAR},
      </if>
      <if test="loginLastAddress != null">
        #{loginLastAddress,jdbcType=VARCHAR},
      </if>
      <if test="loginLastTime != null">
        #{loginLastTime,jdbcType=VARCHAR},
      </if>
      <if test="loginNum != null">
        #{loginNum,jdbcType=INTEGER},
      </if>
      <if test="loginLimitType != null">
        #{loginLimitType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yonyou.scf.common.entity.PlatformLandingExample" resultType="java.lang.Long">
    select count(*) from platform_landing
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update platform_landing
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.interfaceNo != null">
        interface_no = #{record.interfaceNo,jdbcType=VARCHAR},
      </if>
      <if test="record.platformId != null">
        platform_id = #{record.platformId,jdbcType=VARCHAR},
      </if>
      <if test="record.fundId != null">
        fund_id = #{record.fundId,jdbcType=VARCHAR},
      </if>
      <if test="record.merchantUserId != null">
        merchant_user_id = #{record.merchantUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.userRole != null">
        user_role = #{record.userRole,jdbcType=INTEGER},
      </if>
      <if test="record.controllerType != null">
        controller_type = #{record.controllerType,jdbcType=INTEGER},
      </if>
      <if test="record.loginCurrentIp != null">
        login_current_ip = #{record.loginCurrentIp,jdbcType=VARCHAR},
      </if>
      <if test="record.loginCurrentAddress != null">
        login_current_address = #{record.loginCurrentAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.loginCurrentTime != null">
        login_current_time = #{record.loginCurrentTime,jdbcType=VARCHAR},
      </if>
      <if test="record.loginLastIp != null">
        login_last_ip = #{record.loginLastIp,jdbcType=VARCHAR},
      </if>
      <if test="record.loginLastAddress != null">
        login_last_address = #{record.loginLastAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.loginLastTime != null">
        login_last_time = #{record.loginLastTime,jdbcType=VARCHAR},
      </if>
      <if test="record.loginNum != null">
        login_num = #{record.loginNum,jdbcType=INTEGER},
      </if>
      <if test="record.loginLimitType != null">
        login_limit_type = #{record.loginLimitType,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update platform_landing
    set id = #{record.id,jdbcType=BIGINT},
      interface_no = #{record.interfaceNo,jdbcType=VARCHAR},
      platform_id = #{record.platformId,jdbcType=VARCHAR},
      fund_id = #{record.fundId,jdbcType=VARCHAR},
      merchant_user_id = #{record.merchantUserId,jdbcType=VARCHAR},
      user_role = #{record.userRole,jdbcType=INTEGER},
      controller_type = #{record.controllerType,jdbcType=INTEGER},
      login_current_ip = #{record.loginCurrentIp,jdbcType=VARCHAR},
      login_current_address = #{record.loginCurrentAddress,jdbcType=VARCHAR},
      login_current_time = #{record.loginCurrentTime,jdbcType=VARCHAR},
      login_last_ip = #{record.loginLastIp,jdbcType=VARCHAR},
      login_last_address = #{record.loginLastAddress,jdbcType=VARCHAR},
      login_last_time = #{record.loginLastTime,jdbcType=VARCHAR},
      login_num = #{record.loginNum,jdbcType=INTEGER},
      login_limit_type = #{record.loginLimitType,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yonyou.scf.common.entity.PlatformLanding">
    update platform_landing
    <set>
      <if test="interfaceNo != null">
        interface_no = #{interfaceNo,jdbcType=VARCHAR},
      </if>
      <if test="platformId != null">
        platform_id = #{platformId,jdbcType=VARCHAR},
      </if>
      <if test="fundId != null">
        fund_id = #{fundId,jdbcType=VARCHAR},
      </if>
      <if test="merchantUserId != null">
        merchant_user_id = #{merchantUserId,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null">
        user_role = #{userRole,jdbcType=INTEGER},
      </if>
      <if test="controllerType != null">
        controller_type = #{controllerType,jdbcType=INTEGER},
      </if>
      <if test="loginCurrentIp != null">
        login_current_ip = #{loginCurrentIp,jdbcType=VARCHAR},
      </if>
      <if test="loginCurrentAddress != null">
        login_current_address = #{loginCurrentAddress,jdbcType=VARCHAR},
      </if>
      <if test="loginCurrentTime != null">
        login_current_time = #{loginCurrentTime,jdbcType=VARCHAR},
      </if>
      <if test="loginLastIp != null">
        login_last_ip = #{loginLastIp,jdbcType=VARCHAR},
      </if>
      <if test="loginLastAddress != null">
        login_last_address = #{loginLastAddress,jdbcType=VARCHAR},
      </if>
      <if test="loginLastTime != null">
        login_last_time = #{loginLastTime,jdbcType=VARCHAR},
      </if>
      <if test="loginNum != null">
        login_num = #{loginNum,jdbcType=INTEGER},
      </if>
      <if test="loginLimitType != null">
        login_limit_type = #{loginLimitType,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yonyou.scf.common.entity.PlatformLanding">
    update platform_landing
    set interface_no = #{interfaceNo,jdbcType=VARCHAR},
      platform_id = #{platformId,jdbcType=VARCHAR},
      fund_id = #{fundId,jdbcType=VARCHAR},
      merchant_user_id = #{merchantUserId,jdbcType=VARCHAR},
      user_role = #{userRole,jdbcType=INTEGER},
      controller_type = #{controllerType,jdbcType=INTEGER},
      login_current_ip = #{loginCurrentIp,jdbcType=VARCHAR},
      login_current_address = #{loginCurrentAddress,jdbcType=VARCHAR},
      login_current_time = #{loginCurrentTime,jdbcType=VARCHAR},
      login_last_ip = #{loginLastIp,jdbcType=VARCHAR},
      login_last_address = #{loginLastAddress,jdbcType=VARCHAR},
      login_last_time = #{loginLastTime,jdbcType=VARCHAR},
      login_num = #{loginNum,jdbcType=INTEGER},
      login_limit_type = #{loginLimitType,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>