<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yonyou.scf.common.mapper.auto.ServicesChargeInfoMapper" >
  <resultMap id="BaseResultMap" type="com.yonyou.scf.common.entity.ServicesChargeInfo" >
    <id column="service_charge_rule_id" property="serviceChargeRuleId" jdbcType="BIGINT" />
    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="credit_id" property="creditId" jdbcType="BIGINT" />
    <result column="service_charge_rule" property="serviceChargeRule" jdbcType="VARCHAR" />
    <result column="service_charge_mode" property="serviceChargeMode" jdbcType="VARCHAR" />
    <result column="service_charge_rate" property="serviceChargeRate" jdbcType="INTEGER" />
    <result column="service_charge" property="serviceCharge" jdbcType="BIGINT" />
    <result column="create_user" property="createUser" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="BIGINT" />
    <result column="operate_flag" property="operateFlag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    service_charge_rule_id, product_id, credit_id, service_charge_rule, service_charge_mode, 
    service_charge_rate, service_charge, create_user, create_time, update_time, update_user, 
    operate_flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yonyou.scf.common.entity.ServicesChargeInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from services_charge_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from services_charge_info
    where service_charge_rule_id = #{serviceChargeRuleId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from services_charge_info
    where service_charge_rule_id = #{serviceChargeRuleId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yonyou.scf.common.entity.ServicesChargeInfoExample" >
    delete from services_charge_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yonyou.scf.common.entity.ServicesChargeInfo" >
    insert into services_charge_info (service_charge_rule_id, product_id, credit_id, 
      service_charge_rule, service_charge_mode, service_charge_rate, 
      service_charge, create_user, create_time, 
      update_time, update_user, operate_flag
      )
    values (#{serviceChargeRuleId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{creditId,jdbcType=BIGINT}, 
      #{serviceChargeRule,jdbcType=VARCHAR}, #{serviceChargeMode,jdbcType=VARCHAR}, #{serviceChargeRate,jdbcType=INTEGER}, 
      #{serviceCharge,jdbcType=BIGINT}, #{createUser,jdbcType=BIGINT}, #{createTime,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=VARCHAR}, #{updateUser,jdbcType=BIGINT}, #{operateFlag,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yonyou.scf.common.entity.ServicesChargeInfo" >
    insert into services_charge_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serviceChargeRuleId != null" >
        service_charge_rule_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="creditId != null" >
        credit_id,
      </if>
      <if test="serviceChargeRule != null" >
        service_charge_rule,
      </if>
      <if test="serviceChargeMode != null" >
        service_charge_mode,
      </if>
      <if test="serviceChargeRate != null" >
        service_charge_rate,
      </if>
      <if test="serviceCharge != null" >
        service_charge,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="operateFlag != null" >
        operate_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serviceChargeRuleId != null" >
        #{serviceChargeRuleId,jdbcType=BIGINT},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="creditId != null" >
        #{creditId,jdbcType=BIGINT},
      </if>
      <if test="serviceChargeRule != null" >
        #{serviceChargeRule,jdbcType=VARCHAR},
      </if>
      <if test="serviceChargeMode != null" >
        #{serviceChargeMode,jdbcType=VARCHAR},
      </if>
      <if test="serviceChargeRate != null" >
        #{serviceChargeRate,jdbcType=INTEGER},
      </if>
      <if test="serviceCharge != null" >
        #{serviceCharge,jdbcType=BIGINT},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="operateFlag != null" >
        #{operateFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yonyou.scf.common.entity.ServicesChargeInfoExample" resultType="java.lang.Integer" >
    select count(*) from services_charge_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update services_charge_info
    <set >
      <if test="record.serviceChargeRuleId != null" >
        service_charge_rule_id = #{record.serviceChargeRuleId,jdbcType=BIGINT},
      </if>
      <if test="record.productId != null" >
        product_id = #{record.productId,jdbcType=BIGINT},
      </if>
      <if test="record.creditId != null" >
        credit_id = #{record.creditId,jdbcType=BIGINT},
      </if>
      <if test="record.serviceChargeRule != null" >
        service_charge_rule = #{record.serviceChargeRule,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceChargeMode != null" >
        service_charge_mode = #{record.serviceChargeMode,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceChargeRate != null" >
        service_charge_rate = #{record.serviceChargeRate,jdbcType=INTEGER},
      </if>
      <if test="record.serviceCharge != null" >
        service_charge = #{record.serviceCharge,jdbcType=BIGINT},
      </if>
      <if test="record.createUser != null" >
        create_user = #{record.createUser,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null" >
        update_user = #{record.updateUser,jdbcType=BIGINT},
      </if>
      <if test="record.operateFlag != null" >
        operate_flag = #{record.operateFlag,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update services_charge_info
    set service_charge_rule_id = #{record.serviceChargeRuleId,jdbcType=BIGINT},
      product_id = #{record.productId,jdbcType=BIGINT},
      credit_id = #{record.creditId,jdbcType=BIGINT},
      service_charge_rule = #{record.serviceChargeRule,jdbcType=VARCHAR},
      service_charge_mode = #{record.serviceChargeMode,jdbcType=VARCHAR},
      service_charge_rate = #{record.serviceChargeRate,jdbcType=INTEGER},
      service_charge = #{record.serviceCharge,jdbcType=BIGINT},
      create_user = #{record.createUser,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=VARCHAR},
      update_user = #{record.updateUser,jdbcType=BIGINT},
      operate_flag = #{record.operateFlag,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yonyou.scf.common.entity.ServicesChargeInfo" >
    update services_charge_info
    <set >
      <if test="productId != null" >
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="creditId != null" >
        credit_id = #{creditId,jdbcType=BIGINT},
      </if>
      <if test="serviceChargeRule != null" >
        service_charge_rule = #{serviceChargeRule,jdbcType=VARCHAR},
      </if>
      <if test="serviceChargeMode != null" >
        service_charge_mode = #{serviceChargeMode,jdbcType=VARCHAR},
      </if>
      <if test="serviceChargeRate != null" >
        service_charge_rate = #{serviceChargeRate,jdbcType=INTEGER},
      </if>
      <if test="serviceCharge != null" >
        service_charge = #{serviceCharge,jdbcType=BIGINT},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="operateFlag != null" >
        operate_flag = #{operateFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where service_charge_rule_id = #{serviceChargeRuleId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yonyou.scf.common.entity.ServicesChargeInfo" >
    update services_charge_info
    set product_id = #{productId,jdbcType=BIGINT},
      credit_id = #{creditId,jdbcType=BIGINT},
      service_charge_rule = #{serviceChargeRule,jdbcType=VARCHAR},
      service_charge_mode = #{serviceChargeMode,jdbcType=VARCHAR},
      service_charge_rate = #{serviceChargeRate,jdbcType=INTEGER},
      service_charge = #{serviceCharge,jdbcType=BIGINT},
      create_user = #{createUser,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=BIGINT},
      operate_flag = #{operateFlag,jdbcType=VARCHAR}
    where service_charge_rule_id = #{serviceChargeRuleId,jdbcType=BIGINT}
  </update>
</mapper>